@import "../../vars.css";

.container {
  position: relative;
  margin-top: 48px;
  z-index: 1;
  margin: 160px 8% 0;
}

.content {
  color: var(--color-text);
  z-index: 1;
  margin-top: 60px;
}

h1 {
  font-size: 60px;
}

.title {
  font-size: 72px;
  font-weight: 900;
  font-family: var(--font-roboto);
}

h2 {
  font-size: 48px;
}

.subTitle {
  font-size: 60px;
  margin-top: 20px;
}

.description {
  max-width: 75%;
  font-size: 32px;
  margin-top: 32px;
}

.btnContainer {
  margin-top: 60px;
}

.projectsBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 8px;
  font-size: 32px;
  font-weight: 600;
  padding: 16px 24px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.heroImg {
  width: 30%;
}
